**Assignment 1 Day 6**

In [44]:
class bank():
  def __init__(self,ownerName,balance):
    self.ownername = ownerName
    self.balance = balance
  
  def deposite(self,amount):
    self.balance += amount
    print("Your Updated Balance is : ", self.balance)
  
  def withdraw(self,amount):
    if (self.balance>amount):
      self.balance -= amount
      print("Your Updated Balance is : ", self.balance)
    else:
      print("You don't have enough Balance in you Accounr, Your Available Amount is : ", self.balance)

In [45]:
vishal = bank("Vishal",50000)

In [46]:
vishal.deposite(20000)

Your Updated Balance is :  70000

In [47]:
vishal.withdraw(45000)

Your Updated Balance is :  25000

In [48]:
vishal.withdraw(30000)

You don't have enough Balance in you Accounr, Your Available Amount is :  25000

In [49]:
viki = bank("Viki",45000)

In [50]:
viki.withdraw(40000)

Your Updated Balance is :  5000

In [51]:
viki.deposite(30000)

Your Updated Balance is :  35000

In [52]:
viki.withdraw(40000)

You don't have enough Balance in you Accounr, Your Available Amount is :  35000

**Assignment 2 Day 6**

In [53]:
import math

In [54]:
class cone():
  def __init__ (self,radius,height):
    self.radius = radius
    self.height = height

  def volume(self):
    vol = math.pi * self.radius**2 * (self.height/3)
    print("Volume of Cone is : ", vol)
  
  def surfacearea(self):
    sabase = math.pi * self.radius**2
    saside = math.pi * self.radius * math.sqrt(self.radius**2 + self.height**2)
    print("Surface Area of Base of Cone is : ", sabase)
    print("Surface Area of Side of Cone is : ", saside)

In [55]:
con = cone(2,4)

In [56]:
con.volume()

Volume of Cone is :  16.755160819145562

In [57]:
con.surfacearea()

Surface Area of Base of Cone is :  12.566370614359172
Surface Area of Side of Cone is :  28.099258924162907